html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: .5em;
    height: 100%;
    
  }
  footer {
    padding-top: 1em;
    background-color: #26292e;
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    min-height: 5em;
    text-align: center;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente (opcional) */
  }

 /* :::::::::::: */ 
/* form::::::::::::: */
 /* :::::::::::: */ 

 .ng-valid:not(form).ng-touched{
  border-left: 5px solid #42A948;
 }
 .ng-invalid:not(form).ng-touched{
  border-left: 5px solid #a94442;
 }